@import url(reset.css);
/*///////////////////////////////////*/
/*// SUTRUCTURE //////////////////*/

/* activation typographie */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font family */
body{
	font-family: "Public Sans", sans-serif;
	background:white;
	margin:0;
	padding: 0px;}

.page{
	padding: 30px;
}

/* font size */
:root{
	--size-XXL: 48px;
	--size-XL: 32px;
	--size-L: 20px;
	--size-M: 16px;
	--size-S: 13px;
}

p{ font-size: var(--size-M); font-weight: 400;}  /* Text courant */
h1{font-size: var(--size-XXL); font-weight: 550;} /* Logo */
h2{font-size: var(--size-XL); font-weight: 500;} /* Titre des projects */

/*///////////////////////////////////*/
/*// GRAPHISME //////////////////*/

/* RESET */
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

/*///////////////////////////////////*/
/*// NAVIGATION //////////////////*/
header{
	display:grid;
	grid-template-columns:1fr auto 1fr;
	align-items:start;
	width:100%;
	margin-bottom:40px;
	position:relative;
	z-index:1001;

}

header > *{
	position:relative;
	z-index:1002;
}

/* INFOS AU CENTRE */
.infos{
	display:flex;
	flex-direction:column;
	align-items:center;
	text-align:center;
	gap:4px;
	font-size:var(--size-S);
}

.logo a{
	color:inherit;
	text-decoration:none;
}
.logo,
.infos{
	transition:.3s ease;
}

/* BURGER MENU */
header.active .logo,
header.active .infos{
	color:white;
}

/* burger normal */
.burger{
	justify-self:end;
	appearance:none;
	background:none;
	border:none;
	cursor:pointer;
	display:flex;
	flex-direction:column;
	gap:7px;
}

/* les lignes */
.burger span{
	width:30px;
	height:2px;
	background:black;
	transition:.35s ease;
}

.burger:hover span:nth-child(1){
	transform:rotate(45deg) translate(6px,6px);
}

.burger:hover span:nth-child(2){
	opacity:0;
}

.burger:hover span:nth-child(3){
	transform:rotate(-45deg) translate(6px,-6px);
}

.burger span{
	transform-origin:center;
	transition:
	transform 0.35s ease,
	opacity 0.2s ease;
}

/* overlay noir caché */
.overlay{
	position:fixed;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	background:black;
	display:flex;
	justify-content:center;
	align-items:center;
	opacity:0;
	visibility:hidden;
	transition:.4s ease;
	z-index:999;
}

/* menu texte */
.overlay nav{
	display:flex;
	flex-direction:column;
	gap:25px;
	text-align:center;
}

.overlay a{
	color:white;
	text-decoration:none;
	font-size:var(--size-XXL);
	font-weight:400;
}

/* survol → ouvrir menu */
.overlay.active{
	opacity:1;
	visibility:visible;
}

/* burger → croix blanche */
.burger.active span{
	background:white;
}

.burger.active span:nth-child(1){
	transform:rotate(45deg) translate(6px,6px);
}

.burger.active span:nth-child(2){
	opacity:0;
}

.burger.active span:nth-child(3){
	transform:rotate(-45deg) translate(6px,-6px);
}

/*///////////////////////////////////*/
/*// HOME PAGE //////////////////*/
/* slider project */

.slider {
	outline: 3px solid red;
}

#contact {
	outline: 3px solid blue;
}

.slider{
	position:relative;
	width:calc(100% + 60px);
	margin-left:-30px;
	margin-right:-30px;
}

.slider img{
	width:100%;
	display:block;
	height:auto;
}

.arrow{
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	background:none;
	border:none;
	font-size:60px;
	cursor:pointer;
	z-index:10;
}

button.slick-prev.slick-arrow {
	background: transparent !important;
	border: none !important;
	color: transparent;
}

button.slick-prev.slick-arrow:after {
	content: "←";
	display: block;
	color: black !important;
	font-size: 32px;
	font-weight: 250;
	width: 40px;
	height: 40px;
	top: calc(40% - 20px);
	left: 30px;
	position: absolute;
	z-index: 1;
}

button.slick-next.slick-arrow {
	background: transparent !important;
	border: none !important;
	color: transparent;
}

button.slick-next.slick-arrow:after {
	content: "→";
	display: block;
	color: black !important;
	font-size: 32px;
	font-weight: 250;
	width: 40px;
	height: 40px;
	top: calc(40% - 20px);
	right: 30px;
	position: absolute;
	z-index: 1;
}

button.slick-prev.slick-arrow,
button.slick-next.slick-arrow {
	background: transparent !important;
	border: none !important;
	color: transparent;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.slider:hover button.slick-prev.slick-arrow,
.slider:hover button.slick-next.slick-arrow {
	opacity: 1;
}

/*///////////////////////////////////*/
/*// WORK PAGE //////////////////*/
/* grille project */
#portfolio{
	display:grid;
	grid-template-columns:repeat(2,1fr);
	gap:20px;
}

/* images */
.project img{
	width:100%;
	display:block;
}

/* pages par project */
h2{
	font-family: "Public Sans", sans-serif;
	font-size: var(--size-XL);
	font-weight: 500;
}

/*///////////////////////////////////*/
/*// FOOTER //////////////////*/

#contact{
	width: calc(100% + 60px);
	margin-left: -30px;
	margin-right: -30px;
	background: black;
	padding: 10px;
}

.footer-bottom{
	margin-top: 100px;
	display:flex;
	justify-content:space-between;
	align-items:center;
}

.home #contact {
	margin-top: 0;
}

.work #portfolio {
	padding-bottom: 200px;
}

#contact h3 {
	margin: 0;
	color: white;
	font-size: var(--size-M);
	font-weight: normal;
}

.footer-inner {
	padding: 30px;
}
.footer-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-links {
	display: flex;
	gap: 30px;
}

.footer-links a,
.footer-bottom > a {
	color: #777;
	text-decoration: none;
	font-size: var(--size-M);
}