@import url(reset.css);
/*///////////////////////////////////*/
/*// TYPOGRAPHIE //////////////////*/
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font family */
body{
	font-family: "Public Sans", sans-serif;
}

/* font size */
:root{
	--size-XXL: 64px;
	--size-XL: 32px;
	--size-L: 20px;
	--size-M: 16px;
	--size-S: 13px;
}

p{ font-size: var(--size-M); }
h1{ font-size: var(--size-XXL); }

/* font weight */
:root{
	--weight-light: 275;
	--weight-regular: 348;
	--weight-bold: 599;
}

h1 { font-weight: var(--weight-light); }
body, p { font-weight: var(--weight-regular);}
b, strong, h6, h5, h4, h3, h2 { font-weight: var(--weight-bold);}

/*///////////////////////////////////*/
/*// COULEURS //////////////////*/
:root{
	--Couleurs-Principle: darkblue;
}

h1{ color: var(--Couleurs-Principle); }
a { color: var(--Couleurs-Principle); }

section{min-height: 100vh;}

/*///////////////////////////////////*/
/*// DECO //////////////////*/
a { text-decoration: none;}

section {
	border-top: 1.5px solid var(--Couleurs-Principle); }

/*///////////////////////////////////*/
/*// MISE EN PAGE //////////////////*/
:root { --spacer: 2rem; }

.row { display: flex; gap: var(--spacer); }
.row > * {flex: 1; }

body { padding: var(--spacer); }

header { min-height: 50vh; }

/* taille des vigette */
section{
	min-height: 100vh;
	margin-top: calc( var(--spacer) * 3 );
}

section {
	display: flex;
	gap: var(--spacer);
	flex-wrap: wrap;
}

section > h2 { flex: 0 0 100%; }
section > a { flex: 0 1 256px; }

section .vignettes {
	aspect-ratio: 1/1;
	object-fit: cover;
}

/* .vigette { max-width: 256px;} */

/*///////////////////////////////////*/
/*// UI //////////////////*/
html, body {
	scroll-behavior: smooth;}